#map{
    height: 100%;
    width: 100%;
  }
  ion-fab{
    margin-bottom: 20px;
  }
  .my-control {
    background: #fff;
    padding: 5px;
  }
  .my-control {
    background: #fff;
    padding: 5px;
  }
// to align icon
