<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
         <div class="menu-header-bg"></div> 
         <div  *ngIf="user && user.profilePicture" class="header-content">
            <img ng [src]='user.profilePicture' alt="">
            <ion-label *ngIf="user && user.firstName">
              <h2>
               {{user.firstName}}
             <!--    {{(user.firstName[0]|uppercase)+''+user.firstName.substring(1) (user.lastName[0]|uppercase)+''+user.lastName.substring(1) }}-->
                <p> {{(user.Role.name[0] |uppercase) +''+user.Role.name.substring(1)}}</p>
              </h2>
            </ion-label>

          </div>
         
       <div class="action-button">
        <ion-button (click)="logout()">
         <ion-icon name="log-out-outline"></ion-icon>
          logout
        </ion-button>
       </div>
       
       <ion-list class="menu-items" lines="none">
        <div *ngFor="let mi of menuItems">
          <ion-item  *ngIf="!mi.parent && mi.hasSubChildren===false" routerLink="{{mi.url}}" class="item">
            <ion-icon name="{{mi.icon}}"> </ion-icon>
            {{mi.title}}
           
          </ion-item>
          <ion-item-group *ngIf="!mi.parent && mi.hasSubChildren===true">
            <ion-item-divider >
              <ion-icon slot="start" name="{{mi.icon}}">

              </ion-icon>
              <ion-label style="color: black;">{{mi.title}}</ion-label>
              <ion-icon  slot="end" (click)="onClick(mi.title)" [name]="elementsConfig[mi.title]?'chevron-down-outline':'chevron-forward-outline'"></ion-icon> 
            
          
            </ion-item-divider>
            <ion-list  id="{{mi.title}}"  style="height: 0px;transition-property: height; transition-duration: 0.6s;">
              <div *ngIf="elementsConfig[mi.title]">
                <ion-item *ngFor="let m of children[mi.title] " routerLink="{{m.url}}">
                  <ion-icon slot="start" name="{{m.icon}}"> </ion-icon>
                      {{m.title}}
                 
                  
                </ion-item>
              </div>
              
            </ion-list>
           
          </ion-item-group>
          
          
        </div>
       
                  
       </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
