<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>fields</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-card *ngFor="let f of fields" [ngStyle]="{'background': f.color}">
   <ion-card-header>
      <div class="card-header">
        <ion-card-title>{{f.name}}</ion-card-title>
        <div *ngIf="permissions &&permissions['field']  && permissions['field'].includes('delete')"
        style="display: flex; gap: 5px;"> <button (click)="deleteField(f.id)" style="background: transparent;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" font-size="1.375rem" class="iconify iconify--flat-color-icons" width="1em" height="1em" viewBox="0 0 48 48"><path fill="#90CAF9" d="M43 30V18c0-2.2-1.8-4-4-4H9c-2.2 0-4 1.8-4 4v12c0 2.2 1.8 4 4 4h30c2.2 0 4-1.8 4-4zM9 18h30v12H9V18z"></path><circle cx="38" cy="38" r="10" fill="#F44336"></circle><g fill="#fff"><path d="m43.31 41.181l-2.12 2.122l-8.485-8.484l2.121-2.122z"></path><path d="m34.819 43.31l-2.122-2.12l8.484-8.485l2.122 2.121z"></path></g></svg>
        
        </button>
        <button *ngIf="permissions &&permissions['field']  && permissions['field'].includes('update')" style="background: transparent;" (click)="updateField(f.id)">
          
          <svg _ngcontent-ng-c250245152="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" font-size="20" width="1em" height="1em" viewBox="0 0 24 24" class="iconify iconify--tabler"><g _ngcontent-ng-c250245152="" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path _ngcontent-ng-c250245152="" d="M7 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-1"></path><path _ngcontent-ng-c250245152="" d="M20.385 6.585a2.1 2.1 0 0 0-2.97-2.97L9 12v3h3l8.385-8.415zM16 5l3 3"></path></g></svg>
        </button>
     
        </div>
      </div>
    </ion-card-header>
  
    <ion-card-content> 
      <ion-label>{{f.short_description}}</ion-label>

      <div class="comments_section">
        <a> comments </a>
        <div class="commented_users">
          <img src="assets/images/m.png" alt="" class="rounded mr1">
          <img src="assets/images/m.png" alt="" class="rounded mr1">
          <img src="assets/images/m.png" alt="" class="rounded mr1">
          
        </div>
        <a class="load-more"> and 3 more ... </a>
    </div>   
    </ion-card-content>
  </ion-card>
  <ion-fab  *ngIf="permissions &&permissions['field']  && permissions['field'].includes('create')" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addField()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

