<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>verify account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form class="ion-padding" [formGroup]="verifyCodeForm">
    <div class="form-field">
      <ion-label [ngClass]="  inputFocused['code']?'label-focuced':''
      " >Verification Code</ion-label>
      <input (focus)="inputFocused['code']=true" (blur)="inputFocused['code']=false" formControlName="code">
    </div>
    <p (click)="resendNotification()" style="color: #3880ff;
    cursor: pointer;
    font-family: 'Lato';"> resend sms</p>
   
     
    
     <ion-button expand="block"  (click)="verifyAccount()" > Verify Account</ion-button>
     
  </form>


</ion-content> 